<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383193845980-fkdosssvk7qli365hvf56v34jndoa50n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383193845980-fkdosssvk7qli365hvf56v34jndoa50n</string>
	<key>API_KEY</key>
	<string>AIzaSyCssaMRchns5jlRwiy6AMaiRX2-uNMuEdM</string>
	<key>GCM_SENDER_ID</key>
	<string>383193845980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.termopanelescco</string>
	<key>PROJECT_ID</key>
	<string>glowing-service-368612</string>
	<key>STORAGE_BUCKET</key>
	<string>glowing-service-368612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383193845980:ios:3f444f997a2a3a104aa419</string>
</dict>
</plist>